@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.team {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  overflow-x: hidden;

  @include mobile {
    margin-top: 20vw;
    padding-left: 5vw;
  }

  &__content {
    width: 100%;
    display: flex;
    position: relative;

    @include mobile {
      height: 100%;
      flex-direction: column;
      margin-bottom: 10vw;
    }
  }

  &__request {
    width: 35%;
    padding: 2vw;

    @include mobile {
      width: 90%;
      margin-bottom: 1rem;
    }

    & > h1 {
      font-size: 5vw;
      margin-bottom: 1vw;

      @include mobile {
        font-size: 2.5rem;
      }
    }

    & > p {
      font-size: 1.25vw;

      @include mobile {
        font-size: 1rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vw;
  }

  &__inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;

    & > label {
      font-size: 1.25vw;
      font-weight: 500;
      margin-bottom: 0.5vw;
      @include mobile {
        font-size: 0.8rem;
      }
    }

    & > input {
      width: 24vw;
      height: 3.3vw;
      font-size: 1.3vw;
      padding: 0 1vw;
      font-family: inherit;

      @include mobile {
        height: 2.5rem;
        width: 100%;
        font-size: 1.5rem;
      }
    }

    & > textarea {
      width: 24vw;
      height: 12.5vw;
      background: linear-gradient(rgba(51, 48, 48, 65%), rgba(51, 48, 48, 65%)),
        url("../../assets/inputBg.png");
      background-size: cover;
      border: 1px solid #f1f1f1;
      font-size: 1.3vw;
      padding: 0.5vw 1vw;
      font-family: inherit;
      color: #f1f1f1;

      @include mobile {
        height: 10rem;
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }

  /////members
  &__members {
    height: 50vw;
    width: 65%;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 2vw;
    overflow-x: hidden;
    position: relative;

    @include mobile {
      width: 90%;
      height: max-content;
      margin-bottom: 2rem;
    }
  }

  &__member {
    height: 44.6vw;
    width: 32.5vw;
    margin-right: 5vw;
    flex: 0 0 auto;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    overflow: hidden;

    &:last-child {
      margin-right: 32.5vw;
    }

    @include mobile {
      width: 90%;
      max-height: none;
      height: fit-content;
    }

    & > img {
      width: 32.5vw;
      height: 32.6vw;
      object-fit: cover;

      @include mobile {
        width: 100%;
        height: fit-content;
      }
    }
  }

  &__dec {
    & > p {
      padding: 0 2vw 0 2vw;
      font-size: 1vw;
      line-height: 1.5vw;

      @include mobile {
        padding: 0 0.5rem 1rem 0.8rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }

  &__position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 2vw;
    font-size: 1vw;
    margin-bottom: 0.5vw;

    @include mobile {
      font-size: 1rem;
    }

    & > h3 {
      font-size: 2vw;
      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    left: 80%;
    display: flex;

    @include mobile {
      left: 30%;
      bottom: -5%;
    }

    & > img {
      width: 4vw;

      @include mobile {
        width: 4rem;
      }
    }

    & > img:active {
      opacity: 0.8;
    }
  }
}
