@use "./variables" as *;

//Tablet breakpoint

@mixin tabletMax {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

// desktop breakpoint

@mixin desktop {
  @media screen and (max-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin text-style($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
