//Tablet and Desktop breakpont
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 480px;

//colors
$Pale-rose: #ffc2c2;
$Light-steel-blue: #7289da;
$Silver-tree: #5ec0a3;
$white: #ffffff;
$background: rgb(15, 15, 15);
