@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.features {
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  padding: 3vw 0 4vw 0;
  border-top: 1px solid #f1f1f1;

  @include mobile {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  &__container {
    width: 90%;
    max-width: 1440px;
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 2vw;

    & > img {
      width: 20%;
    }

    @include mobile {
      margin-bottom: 2rem;
    }
  }

  &__title {
    color: #f1f1f1;
    width: 70%;
    font-size: min(4rem, 3.5vw);
    font-weight: 500;
    margin-bottom: 2vw;

    @include mobile {
      width: 100%;
      font-size: 2.5rem;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2vw;

    @include mobile {
      flex-direction: column;
    }
  }

  &__card {
    border: 1px solid #f1f1f1;
  }

  &__cardOne {
    width: 37%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #d0e0ff;

    @include desktop {
      height: 44vw;
    }

    @include mobile {
      width: 100%;
      flex-direction: row;
      height: 12rem;
      margin-bottom: 2rem;
    }
  }

  &__imgOne {
    width: 100%;

    @include mobile {
      width: 50%;
    }
  }

  &__window {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 70%;
    height: 8rem;
    background-color: rgb(26, 25, 25);
    color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.8vw;
    display: flex;
    justify-content: space-between;

    @include desktop {
      width: 85%;
    }

    @include tablet {
      font-size: 0.9rem;
      padding: 0.8rem 0.2rem;
    }

    @include mobile {
      font-size: 0.7rem;
    }
  }

  &__typing {
    margin: 3% 0 3% 0;
  }

  &__decOne {
    background-color: black;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 11% 10%;

    @include mobile {
      padding: 3% 5%;
    }

    & > h2 {
      font-size: min(2.8rem, 2.5vw);
      margin-bottom: 10%;

      @include mobile {
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
    & > p {
      font-size: min(1.5rem, 1.2vw);
      line-height: 2vw;
      @include mobile {
        line-height: 1rem;
        font-size: 0.8rem;
      }
    }
  }

  &__cardContainer {
    width: 60%;
    display: flex;
    flex-direction: column;

    @include mobile {
      margin: 0;
      width: 100%;
    }
  }

  &__cardTwo {
    width: 100%;
    min-height: 19rem;
    height: min(18.3vw, 24rem);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    @include tablet {
      min-height: auto;
      height: 21vw;
    }

    @include mobile {
      width: 100%;
      height: 12rem;
      margin-bottom: 1rem;
    }

    &:first-child {
      margin-bottom: 2vw;

      @include mobile {
        margin-bottom: 2rem;
      }
    }
  }

  &__imgTwo {
    position: relative;

    & > img {
      height: 100%;
    }
  }

  &__animate {
    position: absolute;
    width: 33%;
    object-fit: cover;
    top: 35%;
    left: 4%;

    @include mobile {
      width: 40%;
    }
  }

  &__twoAni {
    position: absolute;
    top: 13%;
    left: 22%;

    @include desktop {
      top: 8%;
      left: 20%;
    }

    @include tablet {
      scale: 0.8;
      top: 0;
      left: 8%;
    }

    @include mobile {
      scale: 0.65;
      left: -5%;
      top: -15%;
    }

    & > img:nth-child(1) {
      position: relative;
      animation: display 5s infinite;

      @keyframes display {
        0% {
          opacity: 0;
        }
        25% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        75% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
    & > img:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;

      animation: display2 5s infinite;

      @keyframes display2 {
        0% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    & > img:nth-child(3) {
      position: absolute;
      top: 27%;
      left: 10%;
    }
  }

  &__decTwo {
    width: 63%;
    background-color: black;
    color: #f1f1f1;
    padding: 5% 7%;
    overflow: hidden;

    @include mobile {
      padding: 3% 5%;
    }

    & > h2 {
      font-size: min(2.8rem, 2.5vw);
      margin-bottom: 10%;

      @include mobile {
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
    & > p {
      font-size: min(1.2vw, 1.5rem);
      line-height: 1.8vw;
      @include mobile {
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
  }

  &__cardHover {
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.05;
    }
  }
}
