@use "../../styles/typography" as *;

.features {
  &__title {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 600;

    &::first-letter {
      font-size: 6rem;
      font-family: "Gwendolyn";
    }
  }
}
