@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.footer {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.689);
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    max-width: 1600px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0;

    @include mobile {
      flex-direction: column;
      padding-bottom: 2rem;
    }
  }

  &__logo {
    height: 100%;
    font-size: 3.5vw;
    font-weight: 500;

    @include tablet {
      font-size: 2.5rem;
    }

    @include mobile {
      margin-right: 8rem;
    }

    & > p {
      font-weight: 400;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.801);
    }
  }

  &__goTop {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: max(1vw, 1.1rem);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 3vw;

    @include mobile {
      font-size: 1rem;
      position: absolute;
      right: 5vw;
      top: 10vw;
    }

    & > img {
      width: 2rem;
      margin-right: 1vw;

      @include mobile {
        width: 1.5rem;
      }
    }
    &:hover {
      animation: move 0.8s linear infinite;
    }

    @keyframes move {
      0%,
      100% {
        transform: translateX(0);
      }
      50% {
        transform: translateY(-0.3rem);
      }
    }
  }

  &__links {
    font-size: 1.5vw;
    font-weight: 500;
    display: flex;

    @include mobile {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  &__link {
    margin-right: 3vw;
    text-decoration: underline;
    display: flex;
    align-items: center;

    &:hover {
      color: aqua;
    }

    &::before {
      content: "";
      height: 2vw;
      width: 2vw;
      background-color: aqua;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5vw;

      @include mobile {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
