@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.Action {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem;
  
  @include tablet {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    height: 20rem;
  }
  &__content{

    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    @include tablet{
      width: 33%;
    }
  }
  &__button {
    height: 3rem;
    width: 15rem;
    color: #191616;
    background-color: #ffc2c2;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__button_mobile {
    display: block;
    width: 100%;
    margin-top: 0;
    @include tablet {
      display: none;
    }
  }
  &__info {
    font-family: "Montserrat";
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 0; 
  }

  &__notification {
    img {
      width: 100%;
      height: auto;
      padding-top:0;
      margin-top: 0;
    }
  }
}
