@use "./styles/variables" as *;
@use "./styles/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.941);
  color: white;
  display: flex;
}
